.container-fluid{
    background-color: #232946;
}
button{
    text-align: center;
    position: center;
 }
.form-control{
    width: 50%;

    margin: 5px;
}
.col-sm-4{
    display: flex;
}
button:hover{
    background-color: rgb(29, 90, 148);
    color: white;
  }
  
  .container-fluid{

    background-color: #232946;
  }


  .content > mat-card {
    width: 200px;
}
.card{
  margin-left: 40px;
} 
.card{
  border-radius: 2px;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .2s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.2s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
padding: 14px 80px 18px 36px;
cursor: pointer;
}

.card:hover{
   transform: scale(1.05);
box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
.mat-card-title{
    font-size: 15px;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");


       body{
        background-color:#eee;
        font-family: "Poppins", sans-serif;
        font-weight: 300;
       }

       .height{
        height: 100vh;
       }
       

       .search{
       position: relative;
       box-shadow: 0 0 40px rgba(51, 51, 51, .1);
         
       }

       .search input{

        height: 60px;
        text-indent: 25px;
        border: 2px solid #d6d4d4;


       }


       .search input:focus{

        box-shadow: none;
        border: 2px solid blue;


       }

       .search .fa-search{

        position: absolute;
        top: 20px;
        left: 16px;

       }

       .search button{

        position: absolute;
        top: 5px;
        right: 5px;
        height: 50px;
        width: 110px;
        background: blue;

       }

       .fa-search search-icon{
        position: absolute;
        z-index: 10;
        right: 60;
        color: red;
       }